<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>

<h1>Cadastrar Tarefa</h1>

<div class ="content">
    <form action = "" method="post">
        <label for="title">Título</label>
        <input type="text" id="title" name="title">

        <label for="description">Descrição</label>
        <textarea id ="description" name="description"></textarea>

        <label for="score">Pontos</label>
        <input type="number" id="score" name="score">

        <div class="actions">

            <a href="/task" class="btn">Cancelar</a>
            <button class="btn blue">salvar</button>

        </div>
    </form>
</div>

</body>
</html>