<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <main class="box-main animar">
        <div class="content">
            <h1>Cadastrar Assistido</h1>
            <form th:action="${'/task/new'}" method="post" th:object="${task}" class="form-task">
                <label for="title" class="form-label">Título</label>
                <input type="text" th:field="*{title}" class="form-input">
                <span th:errors="*{title}" class="form-error"></span>

                <label for="description" class="form-label">Descrição</label>
                <textarea th:field="*{description}" class="form-textarea"></textarea>
                <span th:errors="*{description}" class="form-error"></span>

                <label for="score" class="form-label">Pontos</label>
                <input type="number" th:field="*{score}" class="form-input">
                <span th:errors="*{score}" class="form-error"></span>

                <div class="actions">
                    <a href="/task" class="btn btn-cancel">Cancelar</a>
                    <button class="btn btn-save">Salvar</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
